{% extends "centerpage.html" %}

{% block centerpage %}
<h1> Hi, I'm {{ full_name }} {{ web_sep }} <a href="mailto:{{ my_email }}">{{ my_email }}</a>
</h1>
a PhD student in Biomedical Engineering at Kiel University, with a focus on non-invasive electroanatomical mapping. With
a Bachelor's in Electrical Engineering and a Master's in Microelectronic Systems, I combine my expertise in advanced
signal processing techniques, real-time optimization, and machine learning to develop cutting-edge algorithms for
improving cardiac diagnosis.
<h2>My Work</h2>
I am currently working on my PhD project, where I'm developing a novel algorithm for non-invasive cardiac
electroanatomical mapping. My research aims to bridge the gap between traditional signal processing and modern machine
learning techniques, providing more accurate and less invasive methods for diagnosing heart conditions.
My daily work involves working with large codebases and collaborating with a multidisciplinary team, where we use KiRAT,
a real-time framework built in C and C++, with Qt for user interfaces. I'm deeply involved in the development process,
and we rely on Git and GitLab for seamless collaboration. I also use Rust, Python, and C++ for my personal and
professional projects.
<h2>Lifelong Learner & Beyond</h2>
Outside of my core work, I'm passionate about continuous learning and exploring new fields. Whether it's diving deep
into the intricacies of Transformers in machine learning or studying the latest science behind aging, I'm always
expanding my knowledge and applying it to my work.
<h2>Let's Connect</h2>
am set to complete my PhD in July 2025, and I'm excited about the opportunities that lie ahead. If you're interested in
my work and think I'd be a good fit for a role at your institute or company, feel free to reach out!
You can also find me on:
<ul>
    <li>GitHub</li>
    <li>LinkedIn</li>
    <li>Google Scholar</li>
    <li>Kiel University Page</li>
</ul>
{% endblock centerpage %}