{% extends "centerpage.html" %}

{% block centerpage %}
<h1> Hi, I'm {{ full_name }} {{ web_sep }} <a href="mailto:{{ my_email }}" class="break-all">{{ my_email }}</a></h1>
a PhD student in Biomedical Engineering at <a href="https://www.uni-kiel.de/en/" target="_blank"
    rel="noopener noreferrer">Kiel University</a>, with a focus on
non-invasive electroanatomical mapping. With
a <a href="https://www.haw-hamburg.de/en/bachelor-electrical-engineering-and-information-technology/" target="_blank"
    rel="noopener noreferrer">Bachelor's in
    Electrical Engineering</a> and a <a href="https://www.haw-hamburg.de/en/master-microelectronic-systems/"
    target="_blank" rel="noopener noreferrer">Master's in
    Microelectronic Systems</a>, I combine my expertise in advanced
signal processing techniques, real-time optimization, and machine learning to develop cutting-edge algorithms for
improving cardiac diagnosis.
<h2>My Work</h2>
I am currently working on my <a href="https://www.biomagnetic-sensing.de/index.php/research/projects/project-b10"
    target="_blank" rel="noopener noreferrer">PhD
    project</a>, where I'm developing a novel algorithm for non-invasive cardiac
electroanatomical mapping. My research aims to bridge the gap between traditional signal processing and modern machine
learning techniques, providing more accurate and less invasive methods for diagnosing heart conditions.
My daily work involves working with large codebases and collaborating with a multidisciplinary team, where we use <a
    href="https://kirat.de/" target="_blank" rel="noopener noreferrer">KiRAT</a>,
a real-time framework built in C and C++, with Qt for user interfaces. I'm deeply involved in the development process,
and we rely on Git and GitLab for seamless collaboration. I also use Rust, Python, and C++ for my personal and
professional projects.
<h2>Lifelong Learner & Beyond</h2>
Outside of my core work, I'm passionate about continuous learning and exploring new fields. Whether it's diving deep
into the intricacies of Transformers in machine learning or studying the latest science behind aging, I'm always
expanding my knowledge and applying it to my work.
<h2>Let's Connect</h2>
am set to complete my PhD in July 2025, and I'm excited about the opportunities that lie ahead. If you're interested in
my work and think I'd be a good fit for a role at your institute or company, feel free to reach out!
You can also find me on:
<ul class="flex justify-center space-x-8">
    <li>
        <a href="https://github.com/DenominatorIsZero" target="_blank" rel="noopener noreferrer"
            class="flex flex-col items-center">
            <span class="text-lg font-semibold">GitHub</span>
            <img src="/static/img/icons/github.svg" alt="GitHub Icon" class="w-16 h-16 mt-2">
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/erik-engelhardt-65b1091a7/" target="_blank" rel="noopener noreferrer"
            class="flex flex-col items-center">
            <span class="text-lg font-semibold">LinkedIn</span>
            <img src="/static/img/icons/linkedin.svg" alt="LinkedIn Icon" class="w-16 h-16 mt-2">
        </a>
    </li>
    <li>
        <a href="https://scholar.google.com/citations?user=2JKR3YMAAAAJ&hl=en" target="_blank" rel="noopener noreferrer"
            class="flex flex-col items-center">
            <span class="text-lg font-semibold">Google Scholar</span>
            <img src="/static/img/icons/google-scholar.svg" alt="Google Scholar Icon" class="w-16 h-16 mt-2">
        </a>
    </li>
</ul>
{% endblock centerpage %}